In [85]:
import pandas as pd
import numpy as np

In [100]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22,1,0,A/5 21171,7,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38,1,0,PC 17599,71,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26,0,0,STON/O2. 3101282,7,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35,1,0,113803,53,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35,0,0,373450,8,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27,0,0,211536,13,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",1,19,0,0,112053,30,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,29,1,2,W./C. 6607,23,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",0,26,0,0,111369,30,C148,C
890,891,0,3,"Dooley, Mr. Patrick",0,32,0,0,370376,7,NaN,Q

In [86]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [87]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [88]:
# train[train["Sex"] == 'female'].plot(kind='hist', column = "Age", by = 'Survived', ylim=(0,100))

In [89]:
# train[train["Sex"] == 'male'].plot(kind='hist', column = "Age", by = 'Survived', ylim=(0,100))

In [90]:
# I've been assigned SibSp to work on. Our goal my goal is to see whether it matters in terms of survival rate
# train.plot(kind='hist', column = "SibSp", by= "Survived", ylim=(0,400))
# It does matter a little bit but people people with 1 sibling or spouse have a higher survival rate. I guess that people traveling with their 
# spouse are just more likely to survive.

In [91]:
train.isnull().sum()
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

# Change to int:
Gender
Fare    
Age

# Null values:
Replace age with the mean age

In [92]:
train.Age = train.Age.fillna(train.Age.mean())
train.Age = train.Age.astype(int)
train.isnull().sum()
train.Fare = train.Fare.fillna(train.Fare.mean())
train.Fare = train.Fare.astype(int)

In [93]:
# Now lets change sex to a number
genders = {"male" : 0, "female" : 1}
train.Sex = train.Sex.map(genders)

In [94]:
features_to_include = ["Age", "Sex", "Pclass", "SibSp", "Parch", "Fare"]
X_train = train[features_to_include]
y_train = train.Survived
train_X

     Age  Sex  Pclass  SibSp  Parch  Fare
0     22    0       3      1      0     7
1     38    1       1      1      0    71
2     26    1       3      0      0     7
3     35    1       1      1      0    53
4     35    0       3      0      0     8
..   ...  ...     ...    ...    ...   ...
886   27    0       2      0      0    13
887   19    1       1      0      0    30
888   29    1       3      1      2    23
889   26    0       1      0      0    30
890   32    0       3      0      0     7

[891 rows x 6 columns]

In [95]:
test.Age = test.Age.fillna(test.Age.mean())
test.Age = test.Age.astype(int)
test.isnull().sum()
test.Fare = test.Fare.fillna(test.Fare.mean())
genders = {"male" : 0, "female" : 1}
test.Sex = test.Sex.map(genders)

In [96]:
# predictions = c.predict(test[features_to_include])
# predictions = pd.DataFrame({"PassengerId": test.PassengerId, "Survived": predictions})
# predictions.to_csv('predictions.csv', index=False)

In [97]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_X, train_y, test_size=0.2)

from sklearn.ensemble import RandomForestClassifier
c = RandomForestClassifier(random_state=54)
c.fit(X_train, y_train)

predictions = c.predict(X_test)

In [98]:
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score

conf_matrix = confusion_matrix(y_test, predictions)
acc = accuracy_score(y_test, predictions)
prec = precision_score(y_test, predictions)
rec = recall_score(y_test, predictions)
f1 = f1_score(y_test, predictions)
print(f"Confusion Matrix: {conf_matrix}")
print(f"Accuracy: {acc}")
print(f"Precision: {prec}")
print(f"Recall: {rec}")
print(f"F1 Score: {f1}")

Confusion Matrix: [[84 16]
 [26 53]]
Accuracy: 0.7653631284916201
Precision: 0.7681159420289855
Recall: 0.6708860759493671
F1 Score: 0.7162162162162162