In [12]:
import pandas as pd

In [13]:
mae = []

In [14]:
melbourne_data = pd.read_csv('melb_data.csv')
melbourne_data.YearBuilt.fillna(melbourne_data.YearBuilt.mean(), inplace=True)
melbourne_data.BuildingArea.fillna(melbourne_data.BuildingArea.mean(), inplace=True)
melbourne_data.Car.fillna(melbourne_data.Car.mean(), inplace=True)
melbourne_data['Price'] = melbourne_data['Price']*.65
melbourne_data

/var/folders/fz/ckrqtrgs0zqfznq4jsbhy6bw0000gn/T/ipykernel_19675/3979633105.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  melbourne_data.YearBuilt.fillna(melbourne_data.YearBuilt.mean(), inplace=True)
/var/folders/fz/ckrqtrgs0zqfznq4jsbhy6bw0000gn/T/ipykernel_19675/3979633105.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  melbourne_data.BuildingArea.fillna(melbourne_data.BuildingArea.mean(), inplace=True)
/var/folders/fz/ckrqtrgs0zqfznq4jsbhy6bw0000gn/T/ipykernel_19675/3979633105.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  melbourne_data.Car.fillna(melbourne_data.Car.mean(), inplace=True)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,962000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,151.96765,1964.684217,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,672750.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.00000,1900.000000,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,952250.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.00000,1900.000000,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,552500.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,151.96765,1964.684217,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1040000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.00000,2014.000000,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,809250.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,151.96765,1981.000000,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,670150.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.00000,1995.000000,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,760500.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,151.96765,1997.000000,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,1625000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.00000,1920.000000,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,835250.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.00000,1920.000000,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [15]:
y = melbourne_data.Price
features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude', 'BuildingArea', "Car", "Distance", "Postcode", "YearBuilt", "Propertycount"]
X = melbourne_data[features]

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
X_train: object
X_test: object
y_train: object
y_test: object

In [17]:


# use a RandomForestRegressor

# https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html
random_forest = RandomForestRegressor(random_state= 1, n_estimators= 1000, n_jobs= -1,max_features= 0.5, )
random_forest.fit(X_train, y_train)
preds = random_forest.predict(X_test)
current_mae = mean_absolute_error(y_test, preds)
print(current_mae)
mae.append(current_mae)

104939.2259607657